@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/vars' as *;

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $background-primary;
    padding: 30px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    // position: relative;
    border: 1px solid $strokes-secondady;
  }
  
  @media screen and (max-width: 670px) {
    .modalOverlay {
      top: 80px;
      height: calc(100vh - 80px);
    }
    .modalContent {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transform: unset;
      border-radius: 0;
      height: 100% !important;
      border: none;
      border-top: 1px solid $strokes-secondady;

    }
  }