@use "../../shared/styles/mixins" as *;
@use "../../shared/styles/vars" as *;

.title {
  @include title;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 50px;
}
