@use "../../../shared/styles/mixins" as *;
@use "../../../shared/styles/vars" as *;

.cover {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid $strokes-secondady;
  background-color: $background-secondary;
  position: relative;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.inputFile {
  display: none;
  appearance: none;
}

.uploadBtn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.hovered {
    display: flex;
  }
}

.btnContent {
  display: flex;
  align-items: center;
  gap: 10px;
}
.uploadBtn {
  padding: 0 22px !important;
}

@media screen and (hover: hover) {
  .editable:hover {
    .uploadBtn {
      display: flex;
    }
  }
}
