@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/vars' as *;

.wrapper {
    position: relative;
    &.filled {
        .button svg path {
            fill: $text-color;
        }
    }
}

.button {
    border: none;
    background: transparent;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}