@use "../../shared/styles/mixins" as *;
@use "../../shared/styles/vars" as *;

.header {
  border-bottom: 1px solid $strokes-secondady;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: $background-primary;
  width: 100%;
}
.inner {
  height: $header-height;
  padding: 15px 29.6px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.slogan {
  @include paragraph;
  max-width: 226px;
}

@media screen and (max-width: 780px) {
  .slogan {
    display: none;
  }
}
