@use '../../shared/styles/mixins' as *;
@use '../../shared/styles/vars' as *;

.header {
    border-bottom: 1px solid $strokes-secondady;
}
.inner {
    height: 80px;
    padding: 15px 29.6px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slogan {
    @include paragraph;
    max-width: 226px;
}