@import "reset";
@import "vars";
@import "mixins";


.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    @media screen and (max-width: 600px) {
      padding: 0 16px;
    }
}



html,
body {
  max-width: 100vw;
  color: $text-color;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.disable-scroll-only {
  overflow: hidden !important;
  // overscroll-behavior-y: contain;
  
}

.disable-scroll-only-body {
  overflow-anchor: none;
  position: static;
  overflow-x: visible;
}


.main-auth {
  background: $background-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex-grow: 1;
}


