@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/vars' as *;


.container {
    border-radius: 5px;
    border: 1px solid $strokes-primary;
    position: relative;
    @include default-transition(all);
    &:focus-within {
        border: 1px solid $gray;
    }
    @media screen and (hover:hover) {
        &:hover {
            border: 1px solid $gray;
        }
    }
    &.error {
        border: 1px solid $error;
    }
    &.disabled {
        border: 1px solid $background-secondary;
    }
    &.withIcon {
        .input {
            padding-left: 55px;
        }

    }
}

.textarea {
    padding: 12px 20px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: $background-primary;
    font-family: inherit;
    color: $text-color;
    @include paragraph;
    outline: none;
    border: none;
    box-shadow: none !important;
    overflow: hidden; /* Убираем полосы прокрутки */
    resize: none;
    min-height: 100px;
    &:focus-visible {
        outline: none;
    }
    &::placeholder {
        color: $gray;
    }
    &:disabled {
        background-color: $background-secondary;
        color: $gray;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active  {
     box-shadow: none !important;
     
}
}